# Angular build outputs
/nation-client/dist/
/nation-client/tmp/
/nation-client/out-tsc/
/nation-client/.angular/

# Dependency folders
/nation-client/node_modules/

# Testing coverage reports
/nation-client/coverage/

# Environment files (optional, if you're using different envs)
# Uncomment if you want to hide secrets
# /nation-client/src/environments/environment.prod.ts
# /nation-client/src/environments/environment.ts

# IDE/Editor settings
/nation-client/.idea/
/nation-client/.vscode/
/nation-client/.history/

# Logs and debug
/nation-client/npm-debug.log
/nation-client/yarn-error.log
/nation-client/testem.log
/nation-client/karma-debug.log

# OS and misc
/nation-client/.DS_Store
/nation-client/Thumbs.db

#Backend
/nation/HELP.md
/nation/target/
/nation/.mvn/wrapper/maven-wrapper.jar
/nation/!**/src/main/**/target/
/nation/!**/src/test/**/target/

### STS ###
/nation/.apt_generated
/nation/.classpath
/nation/.factorypath
/nation/.project
/nation/.settings
/nation/.springBeans
/nation/.sts4-cache

### IntelliJ IDEA ###
/nation/.idea
/nation/*.iws
/nation/*.iml
/nation/*.ipr

### NetBeans ###
/nation/nbproject/private/
/nation/nbbuild/
/nation/dist/
/nation/nbdist/
/nation/.nb-gradle/
/nation/build/
/nation/!**/src/main/**/build/
/nation/!**/src/test/**/build/

### VS Code ###
/nation/.vscode/

